@page "/"
@using System.Runtime.CompilerServices
@inject HttpClient _client

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="_ => GetData()">Get Data from API</button>

<div class="my-2">
	<h2 class="fs-2">Data:</h2>
	<code>
		@data
	</code>
</div>


@code{
	private string data = "no data";

	private async Task GetData()
	{
		try { data = await _client.GetStringAsync("https://localhost:7042/page/1"); }
		catch (HttpRequestException e) {
			data = $"{e.StatusCode?.ToString() ?? "No Code"} error -\n{e.Message}";
		}
		catch (Exception e) {
			data = $"{e.GetType().Name} error -\n{e.Message}";
		}
		
	}
}
