@page "/"
@using System.Runtime.CompilerServices
@inject HttpClient _client

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="_ => GetData()">Get Data from API</button>

<div class="my-2">
	<h2 class="fs-2">Data:</h2>
	<code>
		@data
	</code>
</div>

<button class="btn btn-secondary" @onclick="_ => SeedData()">Seed data</button>

<div class="my-1">
	<h2 class="fs-2">Seed data:</h2>
	<code>
		@seedData
	</code>
</div>

@code{
	private string data = "no data";
	private string seedData = "didn't seed any data.";

	private async Task GetData()
	{
		data = "loading...";
		try { data = await _client.GetStringAsync("https://localhost:7042/page/1"); }
		catch (HttpRequestException e) {
			data = $"{e.StatusCode?.ToString() ?? "No Code"} error -\n{e.Message}";
		}
		catch (Exception e) {
			data = $"{e.GetType().Name} error -\n{e.Message}";
		}
	}

	private async Task SeedData()
	{
		HttpResponseMessage response;

		HttpContent content = JsonContent.Create("");
		try
		{
			response = await _client.PostAsync("https://localhost:7042/seed/10", content);
			seedData = await response.Content.ReadAsStringAsync();
		}
		catch (HttpRequestException e) {
			seedData = $"{e.StatusCode?.ToString() ?? "No Code"} error -\n{e.Message}";
		}
		catch (Exception e) {
			seedData = $"{e.GetType().Name} error -\n{e.Message}";
		}
	}

}